<?php
//// サーバー管理設定 ////

//--- 必須設定

// Web上の絶対パス(URL)(最後にスラッシュを付けてください)
define('OPENPNE_URL', 'http://sns.example.com/');

// DBサーバ設定
$GLOBALS['_OPENPNE_DSN_LIST']['main'] = array(
'dsn'  => array(
    'phptype'  => 'mysql',
    'username' => '',
    'password' => '',
    'hostspec' => 'localhost',
    'database' => '',
    'new_link' => false,
    ),
);

// DB暗号化キー(56バイト以内のASCII文字列)
define('ENCRYPT_KEY', '');

// メールサーバードメイン
// 携帯メール投稿の宛先などのドメイン名に使われる
define('MAIL_SERVER_DOMAIN', 'mail.example.com');


//--- オプション設定

// デバッグモード
// 0: off ... エラー非表示、エラーログを記録する
// 1: on  ... エラー表示、エラーログを記録しない
// 2: on  ... 1 + Smartyデバッグコンソール
define('OPENPNE_DEBUGGING', 1);

// 無効にするモジュール
//$GLOBALS['_OPENPNE_DISABLE_MODULES'] = array('admin', 'setup');

// メンテナンスモード
// メンテナンスモードではデイリーメール配信やメール投稿機能も無効になります
// true: ユーザーにメンテナンス画面を表示
define('OPENPNE_UNDER_MAINTENANCE', false);

// メンテナンス画面に表示させるテキスト
// HTMLが使用できます
// 未入力の場合は、標準のテキストが表示されます
define('OPENPNE_MAINTENANCE_TEXT', '');

// メンテナンス中でも表示するモジュール名
$GLOBALS['_OPENPNE_MAINTENANCE_MODULES'] = array('admin', 'portal');

// メンテナンス画面を表示するアクションの個別登録
// 「メンテナンス中でも表示するモジュール名」に登録されているモジュールでも、
// ここで登録したアクションはメンテナンス画面が表示されます
$GLOBALS['_OPENPNE_MAINTENANCE_EXCLUDED_ACTION'] = array(
'portal' => array(
    'page_user_top', 'page_portal_user_top_ktai',
));

// Crypt_Blowfish ライブラリの旧バージョン使用設定
// 2.2以前からのアップグレードでログインできないなどの
// 暗号化まわりの不具合が起こった場合はtrueに設定してください
define('OPENPNE_USE_OLD_CRYPT_BLOWFISH', false);

// ファンクションキャッシュ使用設定
// 有効にした場合は、最新情報の表示に遅延が起こることがあります
define('OPENPNE_USE_FUNCTION_CACHE', false);

// このオプションを有効にするためにはOPENPNE_USE_FUNCTION_CACHEをtrueにする必要があります。
// ファンクションキャッシュのキャッシュを保存するストレージにmemcacheを使用
define('OPENPNE_USE_FUNCTION_CACHE_MEMCACHE', false);

// OPENPNE_USE_FUNCTION_CACHE_MEMCACHEがtrueの場合の
// ファンクションキャッシュ用memcacheサーバ設定
$GLOBALS['_OPENPNE_MEMCACHE_LIST']['func_cache'] = array(
'dsn' => array(
    'hostspec' => '127.0.0.1',
    ),
);

// MySQL ヒント使用設定
define('OPENPNE_USE_MYSQL_HINT', true);

// セッション情報を保存するストレージ
// 0:ファイル
// 1:データベース
// 2:memcache(要PECL::memcache)
define('SESSION_STORAGE', 0);

// 確認画面用の一時画像をDBに保存するかどうか
define('OPENPNE_TMP_IMAGE_DB', false);

// 確認画面用の一時ファイルをDBに保存するかどうか
define('OPENPNE_TMP_FILE_DB', false);

///
// DBサーバ設定
///

// メインデータ読み込み用DB(オプション)
//$GLOBALS['_OPENPNE_DSN_LIST']['main_reader'][] = array(
//'priority' => 1,
//'dsn' => array(
//    'phptype'  => 'mysql',
//    'username' => '',
//    'password' => '',
//    'hostspec' => 'localhost',
//    'database' => '',
//    'new_link' => false,
//    ),
//);
//$GLOBALS['_OPENPNE_DSN_LIST']['main_reader'][] = array(
//'priority' => 1,
//'dsn' => array(
//    'phptype'  => 'mysql',
//    'username' => '',
//    'password' => '',
//    'hostspec' => 'localhost',
//    'database' => '',
//    'new_link' => false,
//    ),
//);

// セッションデータ保存用DB(オプション)
//$GLOBALS['_OPENPNE_DSN_LIST']['session'] = array(
//'dsn' => array(
//    'phptype'  => 'mysql',
//    'username' => '',
//    'password' => '',
//    'hostspec' => 'localhost',
//    'database' => '',
//    'new_link' => false,
//    ),
//);

// セッションデータ保存用Memcache(オプション)
$GLOBALS['_OPENPNE_MEMCACHE_LIST']['session'] = array(
'dsn' => array(
    'hostspec' => '127.0.0.1',
    ),
);

// 画像データ保存用DB(オプション)
//$GLOBALS['_OPENPNE_DSN_LIST']['image'] = array(
//'dsn' => array(
//    'phptype'  => 'mysql',
//    'username' => '',
//    'password' => '',
//    'hostspec' => 'localhost',
//    'database' => '',
//    ),
//);

///
// SSL設定
///

// 特定ページだけのSSLを使用するかどうか
define('OPENPNE_USE_PARTIAL_SSL', false);

// SSL使用状況をリクエストパラメータから取得するかどうか
define('OPENPNE_USE_SSL_PARAM', false);

// SSL用URL (Cookieの値を引き継ぐため、OPENPNE_URL と同一ドメイン・パスである必要があります)
define('OPENPNE_SSL_URL', 'https://sns.example.com/');

// SSLを使用することが必須であるモジュールリスト
$GLOBALS['_OPENPNE_SSL_REQUIRED_MODULES'] = array('admin');

// SSLを使用することが必須であるアクションリスト
$GLOBALS['_OPENPNE_SSL_REQUIRED'] = array(
'pc' => array(
    'page_o_regist_prof',  'page_o_regist_prof_confirm', 'do_o_regist_prof',
    'page_o_regist_intro', 'page_o_ri', 'page_o_regist_end',
    'page_h_config_prof', 'page_h_config_prof_confirm', 'do_h_config_prof',
    'page_h_config_ktai', 'do_h_config_ktai_send',
    'page_h_config', 'do_h_config_1', 'do_h_config_2', 'do_h_config_3',
    'page_o_login', 'page_o_tologin', 'do_o_login',
    'page_o_public_invite', 'do_o_public_invite',
    'page_h_invite', 'page_h_invite_confirm', 'do_h_invite_insert_c_invite',
    'page_o_password_query', 'do_o_password_query',
    'page_o_password_reset', 'do_o_password_reset',
    'page_o_regist_pc_address', 'do_o_regist_pc_address', 'page_o_regist_pc_address_end',
),
'ktai' => array(
    'page_o_login', 'do_o_login', 'do_o_easy_login',
    'page_o_login2', 'do_o_update_ktai_address',
    'page_o_regist_pre', 'page_o_regist_input', 'do_o_insert_c_member',
    'page_o_regist_end',
    'page_o_password_query', 'do_o_password_query',
    'page_o_password_reset', 'do_o_password_reset',
    'page_h_config_prof', 'do_h_config_prof_update_c_member',
    'page_h_config_easy_login', 'do_h_config_easy_login',
    'page_h_config_mail', 'do_h_config_mail_insert_c_ktai_address_pre',
    'page_h_pc_send', 'page_h_pc_send_confirm', 'do_h_pc_send_insert_c_pc_address_pre',
    'page_h_config_password_query', 'do_h_config_password_query_update_password_query',
    'page_h_config_password', 'do_h_config_password_update_password',
    'page_h_config', 'page_h_invite', 'do_h_invite_insert_c_invite',
));

// SSLを使用するかどうかをユーザーが選択できるアクションリスト
$GLOBALS['_OPENPNE_SSL_SELECTABLE'] = array(
'pc' => array(
),
'ktai' => array(
));

///
// パス設定
///

define('OPENPNE_LIB_DIR'    , OPENPNE_DIR . '/lib');
define('OPENPNE_VAR_DIR'    , OPENPNE_DIR . '/var');
define('OPENPNE_WEBAPP_DIR' , OPENPNE_DIR . '/webapp');
define('OPENPNE_MODULES_DIR', OPENPNE_WEBAPP_DIR . '/modules');
define('OPENPNE_RSS_CACHE_DIR', OPENPNE_VAR_DIR . '/rss_cache');
define('OPENPNE_PUBLIC_HTML_DIR', OPENPNE_DIR . '/public_html');

///
// webapp_ext ディレクトリ使用設定
///

define('USE_EXT_DIR', false);
define('OPENPNE_WEBAPP_EXT_DIR' , OPENPNE_DIR . '/webapp_ext');
define('OPENPNE_MODULES_EXT_DIR', OPENPNE_WEBAPP_EXT_DIR . '/modules');

///
// webapp_biz ディレクトリ使用設定
//
// BIZ使用設定は管理画面に移動しました
// define('USE_EXT_DIR', false);
define('OPENPNE_WEBAPP_BIZ_DIR' , OPENPNE_DIR . '/webapp_biz');
define('OPENPNE_MODULES_BIZ_DIR', OPENPNE_WEBAPP_BIZ_DIR . '/modules');

///
// デバッグ、エラーハンドリング、ログ設定
///

if (!defined('E_DEPRECATED')) {
    define('E_DEPRECATED', 8192);
}

error_reporting(E_ALL ^ E_NOTICE ^ E_DEPRECATED);

switch(OPENPNE_DEBUGGING) {
// テスト開発環境
case 2:
    $GLOBALS['SMARTY']['debugging'] = true;
case 1:
    ini_set('display_errors', true);
    ini_set('log_errors', false);
    break;
// 本番運用環境
case 0:
default:
    ini_set('display_errors', false);
    ini_set('log_errors', true);
    ini_set('error_log', OPENPNE_VAR_DIR . '/log/php_errors.log');
    break;
}

// アクセスログを取得するかどうか(c_access_log)
define('LOG_C_ACCESS_LOG', true);

// カスタムログ用の関数名を指定します
define('OPENPNE_LOG_FUNCTION', '');

///
// セッション・クッキー設定
///

ini_set('session.gc_probability',1);
ini_set('session.gc_divisor',10000);

ini_set('session.gc_maxlifetime', 432000); // 5 days
//session_save_path('/tmp');

// PC版
// セッション生成時からの有効期限(秒) (0 の場合は無期限)
$GLOBALS['OpenPNE']['common']['session_lifetime'] = 0;
// セッションの有効期限(秒)
$GLOBALS['OpenPNE']['common']['session_idletime'] = 432000; // 5 days

// 携帯版
// セッション生成時からの有効期限(秒) (0 の場合は無限)
$GLOBALS['OpenPNE']['ktai']['session_lifetime'] = 0;
// セッションの有効期限(秒)
$GLOBALS['OpenPNE']['ktai']['session_idletime'] = 3600; // 1 hour

// 管理画面版
// セッション生成時からの有効期限(秒) (0 の場合は無限)
$GLOBALS['OpenPNE']['admin']['session_lifetime'] = 0;
// セッションの有効期限(秒)
$GLOBALS['OpenPNE']['admin']['session_idletime'] = 86400; // 1 day

// セッションにOPENPNE_URLを保存しておく
// 同一サーバ上で複数のSNSを運用する場合のセッションの混同を防ぐ
// falseからtrueにした場合、または2.4RC1以前のバージョンからアップデートした場合
// それまでのセッションが無効になりログアウトされます
define('OPENPNE_SESSION_CHECK_URL', true);

// セッションにユーザーエージェント情報($_SERVER['HTTP_USER_AGENT'])を保存しておく
// 保存されたユーザーエージェントに変更が無いかを随時確認します
// falseからtrueにした場合、それまでのセッションが無効になりログアウトされます
// PC版のユーザーエージェントセッションチェック
define('OPENPNE_SESSION_CHECK_PC_USER_AGENT', false);

// 携帯版のユーザーエージェントセッションチェック
define('OPENPNE_SESSION_CHECK_KTAI_USER_AGENT', true);

// ログイン時のセッションを1ユーザに対して1セッションに制限する
// ログイン中に他の端末・ブラウザからログインした場合、それまでのセッションが
// 無効になりログアウトされます
define('OPENPNE_ONE_SESSION_PER_USER', false);

///
// 画像
///

// 画像を別サーバに設定する場合に指定する
//define('OPENPNE_IMG_URL', 'http://img.example.com/');

//// 画像サーバ用設定 ////
//define('OPENPNE_IS_IMG_SERVER', false);

// 画像キャッシュをpublic_html以下に置くかどうか(要mod_rewrite)
define('OPENPNE_IMG_CACHE_PUBLIC', false);

// 画像キャッシュディレクトリ(要書き込み権限)
if (OPENPNE_IMG_CACHE_PUBLIC) {
    define('OPENPNE_IMG_CACHE_DIR', OPENPNE_PUBLIC_HTML_DIR . '/img');
} else {
    define('OPENPNE_IMG_CACHE_DIR', OPENPNE_VAR_DIR . '/img_cache');
}

// 画像変換時に許可する解像度のリスト (幅x高さ)
// (空の配列を指定すると無制限になります)
$GLOBALS['_OPENPNE_IMG_ALLOWED_SIZE'] = array('76x76', '120x120', '180x180', '240x320', '600x600');

// 画像キャッシュのファイル名のprefix
define('OPENPNE_IMG_CACHE_PREFIX', 'img_cache_');

// 画像変換後のJPEGのQUALITY値
define('OPENPNE_IMG_JPEG_QUALITY', 75);

// ImageMagick使用設定
// 0: off ... ImageMagickを使わない
// 1: on  ... GIFのみImageMagickを使う
// 2: on  ... JEPG,PNG,GIFにImageMagickを使う(ただし、GDも必要)
define('USE_IMAGEMAGICK', 0);

// ImageMagick の convertコマンドのパス
define('IMGMAGICK_APP', '/usr/bin/convert');
//define('IMGMAGICK_APP', '"C:\Program Files\ImageMagick-6.2.5-Q16\convert"');

// ImageMagick のオプション(デフォルトは -resize)
//define('IMGMAGICK_OPT', '-thumbnail');

// アップロード画像のファイルサイズ制限(KB)
define('IMAGE_MAX_FILESIZE', 300);

// アップロード画像の大きさ制限(ピクセル)
// 0 を指定した場合は無制限
define('IMAGE_MAX_WIDTH', 0);
define('IMAGE_MAX_HEIGHT', 0);

// 携帯版「大」サイズ画像表示時の解像度制限
// （$GLOBALS['_OPENPNE_IMG_ALLOWED_SIZE'] で許可された解像度を指定してください）
define('OPENPNE_IMG_KTAI_MAX_WIDTH', 240);
define('OPENPNE_IMG_KTAI_MAX_HEIGHT', 320);

///
// ファイルアップロード機能
///

// ファイルアップロード機能を使用するかどうか
define('OPENPNE_USE_FILEUPLOAD', false);

// アップロードファイルのファイルサイズ制限(KB)
define('FILE_MAX_FILESIZE', 300);

// 許可する拡張子のリスト(カンマ(,)区切り)
// 未指定の場合は全て許可
//define('FILE_ALLOWED_EXTENTIONS', 'pdf,xls,ppt,zip');
define('FILE_ALLOWED_EXTENTIONS', '');

///
// 外部RSS取得
///

// 一度に取得するRSSの件数
define('RSS_CACHE_LIMIT', 100);

///
// 携帯メール投稿
///

// 宛先メールアドレスのprefix
//define('MAIL_ADDRESS_PREFIX', 'sns_');

// 宛先メールアドレスをハッシュにするか
define('MAIL_ADDRESS_HASHED', true);

// 宛先メールアドレスに付けるハッシュ文字列の長さ
define('MAIL_ADDRESS_HASH_LENGTH', 12);

// 受信メールの文字コード(Content-Typeから取得できない場合に使う)
//define('MAIL_FROM_ENCODING', 'JIS');
define('MAIL_FROM_ENCODING', 'auto');

// メールログを取るかどうか(var/log/mail.log)
define('MAIL_DEBUG_LOG', false);

///
// メール送信設定
///

// 半角カタカナを全角カタカナに変換して送信する
define('MAIL_HAN2ZEN', true);

// MTAに渡すヘッダの改行コード(LF->CRLF の自動変換が行われることへの対策)
//define('MAIL_HEADER_SEP', 'CRLF');
define('MAIL_HEADER_SEP', 'LF');

// Envelope-From ヘッダを設定するかどうか(safe_mode の場合は false に設定してください)
define('MAIL_SET_ENVFROM', true);

// Envelope-From で設定するメールアドレス
//(指定しない場合は、管理者メールアドレス(Fromと同じ))
//define('MAIL_ENVFROM', 'system@example.com');

///
// mbstring設定
///

mb_language('Japanese');
ini_set('mbstring.detect_order', 'auto');
ini_set('mbstring.http_input'  , 'auto');
ini_set('mbstring.http_output' , 'pass');
ini_set('mbstring.internal_encoding', 'UTF-8');
ini_set('mbstring.script_encoding'  , 'UTF-8');
ini_set('mbstring.substitute_character', 'none');
mb_regex_encoding('UTF-8');
mb_substitute_character("long");
mb_substitute_character(0x3013);

// Validatorで全角スペースを削除するかどうか
// Validatorでエラーが出る場合は false にしてください
define('OPENPNE_TRIM_DOUBLEBYTE_SPACE', true);

///
// API通信設定
///

// API通信使用設定
define('OPENPNE_USE_API', false);

// セッション鍵生成用文字列(適当な文字列に変更してください)
define('OPENPNE_API_TOKEN', 'OpenPNE');

// クライアントのIPアドレスのあるサーバ変数名($_SERVER['REMOTE_ADDR'])
//define('SERVER_IP_KEY', 'HTTP_X_FORWARDED_FOR');
define('SERVER_IP_KEY', 'REMOTE_ADDR');

///
// HTTPプロキシ設定
///

// HTTPプロキシ使用設定
define('OPENPNE_USE_HTTP_PROXY', false);

// プロキシのホスト名
define('OPENPNE_HTTP_PROXY_HOST', 'proxy.example.com');

// プロキシのポート番号
define('OPENPNE_HTTP_PROXY_PORT', 8080);

///
// memory_limit設定
///
// ini_set('memory_limit','32M');

///
// umask設定
///

umask(0);

///
// Google Maps API key
// http://www.google.com/apis/maps/ から取得
///
define('GOOGLE_MAPS_API_KEY', '');

///
// Google AJAX Search API key
// http://code.google.com/apis/ajaxsearch/signup.html  から取得
///
define('GOOGLE_AJAX_SEARCH_API_KEY', '');

///
// Amazon Product Advertising API
// 2009年8月15日以降、Amazon の仕様変更の影響により
// AMAZON_ACCESS_KEY_ID と AMAZON_SECRET_ACCESS_KEY を設定しないと、
// レビュー機能がご利用いただけなくなりますのでご注意ください。
// https://affiliate-program.amazon.com/gp/flex/advertising/api/sign-in-jp.html  から取得
///
define('AMAZON_ACCESS_KEY_ID', '');

// Amazon Secret Access Key
define('AMAZON_SECRET_ACCESS_KEY', '');

//// SNSアプリケーション設定 ////

// 管理画面のURL設定
//(OPENPNE_URL)?m=ADMIN_MODULE_NAME (例. http://sns.example.com/?m=admin)
define('ADMIN_MODULE_NAME', 'admin');

// 管理画面にバージョン情報を表示するかどうか
define('DISPLAY_VERSION', true);

// ダッシュボードで表示するOpenPNE情報のURL設定
// URLを空にするとダッシュボードが非表示になります
define('OPENPNE_DASHBOARD_URL', 'http://ad.pne.jp/dashboard/');

// 文字装飾機能の小窓ボタンで表示される小窓紹介ページのURL設定
// URLを空にすると小窓ボタンが非表示になります
define('OPENPNE_DECORATION_CMD_URL', 'http://www.openpne.jp/cmd/');

// 天気予報ページのURL設定
define('OPENPNE_WEATHER_URL', 'http://weather.yahoo.co.jp/weather/');

// 携帯版でUser-Agentのチェックをするかどうか
define('CHECK_KTAI_UA', true);

// 携帯版でIP制限機能を使用するかどうか
// IPリストは webapp/lib/ktaiIP.php
define('CHECK_KTAI_IP', true);

// メール一斉送信のメールキューの使用
define('OPENPNE_MAIL_QUEUE', false);
// メールキューで一度に送信するメールの数
define('SEND_MAIL_QUEUE_NUM', 10);

// メッセージ一斉送信のメッセージキューの使用
define('OPENPNE_MESSAGE_QUEUE', false);
// メッセージキューで一度に送信するメッセージの数
define('SEND_MESSAGE_QUEUE_NUM', 10);

// CAPTCHA（画像のなかの文字列をメンバーに入力させる認証方式）を使用するかどうか
define('OPENPNE_USE_CAPTCHA', true);

// 認証モード設定
// ※運用中のSNSで認証モードを変更すると既存のメンバーがログインできなくなります
//  email    : メールアドレスとパスワードによるログイン
//  pneid    : IDとパスワードによるログイン
//  slavepne : 外部認証(SlavePNE機能)を使ったログイン
define('OPENPNE_AUTH_MODE', 'email');

// 外部認証時にメールアドレス登録を必須にするかどうか
define('IS_SLAVEPNE_EMAIL_REGIST', true);

// 招待メールに記載するURL
define('SLAVEPNE_SYOUTAI_URL_PC', '');
define('SLAVEPNE_SYOUTAI_URL_KTAI', '');

// 外部認証時の「パスワードを忘れた方」のリンク先URL設定
// URLを空にするとリンクが非表示になります
define('SLAVEPNE_PASSWORD_QUERY_URL_PC', '');
define('SLAVEPNE_PASSWORD_QUERY_URL_KTAI', '');

// OPENPNE_AUTH_MODE がslavepneの場合のauthオプション
$GLOBALS['_OPENPNE_AUTH_CONFIG'] = 
array(
'storage'=>"DB",
'options'=>array(
    'dsn'         => array(
        'phptype'  => 'mysql',
        'username' => 'root',
        'password' => '',
        'hostspec' => 'localhost',
        'database' => '',
        'new_link' => true,
        ),
    'table'       => '',
    'usernamecol' => 'username',
    'passwordcol' => 'password',
    'cryptType'   => 'none',
    ),
);

// 画像へのアクセスをSNS認証する
// ※画像静的化機能を用いている場合は利用できません
define('CHECK_IMG_AUTH', false);

// PC表示時にau/SoftBankの絵文字をDoCoMo絵文字に変換するかどうか
// au/SoftBankの絵文字を使用するには、 public_html/skin/default/img/emoji/{e|s} に画像を用意する必要があります
define('OPENPNE_EMOJI_DOCOMO_FOR_PC', true);

// ページのキャッシュをさせないヘッダを送信するかどうか
// ただしau端末の場合はこの設定にかかわらず、常に「ページのキャッシュをさせないヘッダ」が送信されます
define('OPENPNE_SEND_NO_CACHE_HEADER', false);

// 管理画面でURL・小窓変換機能を使用するかどうか
define('OPENPNE_ADMIN_CONVERT_URL', true);

// OpenID サーバ（プロバイダ）となるかどうか
define('OPENPNE_IS_OPENID_SERVER', false);

// DBエラーログ出力を出力するかどうか
//    TRUE:出力する FALSE:出力しない
define('OPENPNE_DB_ERROR_LOG', false);

// 監視モジュールアクセスIP制限
// m=kanshi へのアクセスを許可するIPのリスト
$GLOBALS['_ALLOWED_IP_LIST_FOR_KANSHI'] = array();

// 秘密の質問を使用するかどうか
// 0: 使用しない
// 1: 使用する(未登録でも使用可能)
// 2: 使用する(未登録時に登録を強制する)
// 運用中に設定を｢0｣から｢1｣に変更した場合、秘密の質問を未登録のユーザーが
// パスワードを忘れた場合にパスワードの再発行が出来なくなりますのでご注意下さい
define('IS_PASSWORD_QUERY_ANSWER', 2);

// 連続投稿確認用
//
// 連続投稿のチェック対象とするアクション
$GLOBALS['CHECK_POST_ACTIONS'] = array(
'pc' => array(
    'do_h_diary_add_insert_c_diary',
    'do_fh_diary_insert_c_diary_comment',
    'do_h_com_add_insert_c_commu',
    'do_c_topic_add_insert_c_commu_topic',
    'do_c_topic_write_insert_c_commu_topic_comment',
    'do_c_event_add_insert_c_commu_topic',
    'do_c_event_write_insert_c_commu_topic_comment',
    'do_f_message_send_insert_c_message',
    'do_f_link_request_insert_c_friend_confirm',
    ),
'ktai' => array(
    'do_h_diary_edit_insert_c_diary',
    'do_fh_diary_insert_c_diary_comment',
    'do_h_com_add_insert_c_commu',
    'do_topic_add_insert_c_commu_topic',
    'do_c_bbs_insert_c_commu_topic_comment',
    'do_event_add_insert_c_commu_topic',
    'do_f_message_send_insert_c_message',
    'do_f_link_request_insert_c_friend_confirm',
    ),
);

// 連続投稿と判断する間隔(秒)
// 0を指定した場合、チェックしない
define('OPENPNE_POST_INTERVAL_UNFAIR_SECOND', 10);

// 前回から[POST_INTERVAL_UNFAIR_SECOND]秒以内の投稿が、
// 何回行われた時に、連続投稿と判断するか
define('OPENPNE_POST_INTERVAL_UNFAIR_COUNT', 10);

// 前回投稿から何秒以上あいていたら、連続投稿回数をリセットするか
// 0を指定した場合、リセットしない
define('OPENPNE_POST_INTERVAL_UNFAIR_COUNT_RESET_SECOND', 60*60);

// 前回投稿時刻と投稿回数の保存先にデータベースを使用するか
// false:セッション
//  true:データベース
define('OPENPNE_POST_USE_DB', true);

?>
