@charset "UTF-8";

td.inc_info {
	width: 720px ;
	height: auto ;
	padding-top: 5px ;
}

td.inc_info table.info_body td.bg_a {
}

td.inc_info table.info_body ul {
	margin: 0px ;
	padding: 0px ;
	list-style-image: none ;
}

td.inc_info table.info_body ul li {
	margin: 0px ;
	padding: 0px ;
	padding-left: 14px ;
	list-style-type: none ;
}
