@charset "UTF-8";

body {
  background: #fff ;
  color: #000 ;
  font-size: 10pt ;
  margin: 0px ;
  padding: 0px ;
}

ul,ol{
    margin: 18px 0 18px 20px;
    padding: 0;
}
li{
    margin: 0;
}

form {
  margin: 0px;
}

a img {
  border-style: none;
}

input.submit {
  border: solid 2px #000;
  background-color: #fcc;
  color: #000;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  border: solid 1px #666;
  white-space: nowrap;
}

th {
  background-color: #cdf;
  color: #000;
  font-weight: bold;
}

td.idnumber {
  text-align: right;
  background-color: #ffc;
}
td.number {
  text-align: right;
}

h1 {
  font-size: 1.5em;
  margin: 0px 0px 10px;
  background-color: #000;
  color: #fff;
}
h1 a {
  color: #fff;
  text-decoration: none;
}

#site_navi {
}
#site_navi ul {
  margin-top: 0px;
}
#site_navi ul li {
  line-height: 1.2em ;
}
#site_navi p {
  margin-bottom: 0px;
}

#page_navi {
  float:left;
  border: solid 1px #999;
  padding: 20px 10px 40px;
  margin-right: 20px;
  font-size: 10pt;
}
#page_navi h2 {
  font-size: 120%;
  margin: 20px 0 2px;
  padding: 0px;
}
#page_navi ul {
  margin: 0px;
  padding: 0px;
}

#page_body {
  float:left;
}

.pager {
  margin: 1em 0em;
}

.caution {
  color: #c33;
  font-size: 10pt;
}